# Visualising Geospatial data withÂ Python

In [22]:
import folium
import pandas as pd

In [23]:
## Country coordinates for plotting
country_geo = 'world-countries.json'

In [24]:
# Read in the World Development Indicators Database
data = pd.read_csv('Indicators.csv')
data.shape

(5656458, 6)

In [25]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [26]:
data.IndicatorName[:25]

0     Adolescent fertility rate (births per 1,000 wo...
1     Age dependency ratio (% of working-age populat...
2     Age dependency ratio, old (% of working-age po...
3     Age dependency ratio, young (% of working-age ...
4           Arms exports (SIPRI trend indicator values)
5           Arms imports (SIPRI trend indicator values)
6                  Birth rate, crude (per 1,000 people)
7                                    CO2 emissions (kt)
8                CO2 emissions (metric tons per capita)
9     CO2 emissions from gaseous fuel consumption (%...
10    CO2 emissions from liquid fuel consumption (% ...
11      CO2 emissions from liquid fuel consumption (kt)
12    CO2 emissions from solid fuel consumption (% o...
13                 Death rate, crude (per 1,000 people)
14             Fertility rate, total (births per woman)
15                        Fixed telephone subscriptions
16       Fixed telephone subscriptions (per 100 people)
17                     Hospital beds (per 1,000 people)
18        International migrant stock (% of population)
19                   International migrant stock, total
20             Life expectancy at birth, female (years)
21               Life expectancy at birth, male (years)
22              Life expectancy at birth, total (years)
23                    Merchandise exports (current US$)
24    Merchandise exports by the reporting economy (...
Name: IndicatorName, dtype: object

Getting the Life expectancy at birth, female (years)data from the entire dataset

In [27]:


hist_indicator =  'Life expectancy at birth'
hist_year = 2013
mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year])

# apply our mask
stage = data[mask1 & mask2]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5377669,Arab World,ARB,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2013,72.536117
5377670,Arab World,ARB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2013,68.848383
5377671,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,70.631305
5378129,Caribbean small states,CSS,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2013,74.757382
5378130,Caribbean small states,CSS,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2013,69.183365

## Setting data for plotting.
Create a data frame with just the country codes and the values we want plotted.

In [28]:
data_to_plot = stage[['CountryCode','Value']]
data_to_plot.head()

        CountryCode      Value
5377669         ARB  72.536117
5377670         ARB  68.848383
5377671         ARB  70.631305
5378129         CSS  74.757382
5378130         CSS  69.183365

## Label for the map

In [29]:
hist_indicator = stage.iloc[0]['IndicatorName']

# Visualising the Map

In [30]:
map = folium.Map(location=[100, 0], zoom_start=1.5)

In [31]:
# choropleth maps bind Pandas Data Frames and json geometries.
map.choropleth(geo_data=country_geo, data=data_to_plot,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

In [32]:
country_geo = 'world-countries.json'

In [33]:
map.save('plot_data.html')

In [19]:

# Import the Folium interactive html file
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')